
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.DS_Store
.env
.env.dev
.editorconfig


# IDE
.vscode/

# Uploads (user files)
public/uploads/

# Symfony dev tools
config/packages/web_profiler.yaml
config/routes/web_profiler.yaml